.productdisplay{
    display: flex;
    margin:0px 170px;
}

.productdisplay-left{
    display: flex;
    gap:17px;
}

.productdisplay-imglist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%; 
    gap: 10px;
  }
  
  .productdisplay-imglist img {
    width: 100px; /* Adjust image size */
    height: 160px; /* Adjust image size */
    object-fit: cover;
  }
.productdisplay-main-img{
    width:580px;
    height:600px;
}
.productdisplay-right{
    margin:70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color:#3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap:5px;
    color:#1c1c1c;
    font-size:16px;
}
.productdisplay-right-prices{
    display: flex;
    margin:40px 0px;
    gap:30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color:#818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color:#ff4141;
}
.productdisplay-right-description {
    font-size: 14px; /* Adjust font size */
    line-height: 1.2; /* Adjust line height */
    text-align: right; /* Align text to the right *//* Move the description to the bottom */
    width: 120%; /* Adjust width as needed */
    height: 36px; /* Fixed height for two lines */
    overflow: hidden; /* Hide overflow content */
    gap:30px;
  }
.productdisplay-right button{
   padding:20px 40px;
   width:200px;
   font-size:16px;
   font-weight:600;
   color:white;
   background: #ff4141;
   margin-bottom:40px;
   border:none;
   outline:none;
   cursor:pointer;
}
.productdisplay-right-category{
    margin-top:10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}